.page {
  font-family: Arial, sans-serif;
  max-width: 393px;
  margin: auto;
  padding: 20px;
  color: #333;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 80px;
  margin-left: -110px;
}

.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.app-title {
  font-size: 18px;
  color: #1d7874;
  font-weight: 600;
  margin-top: 170px;
}

/* Titles and Subtexts */
.login-title {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 5px;
  margin-left: -270px;
}

.login-subtext {
  color: #6b6b6b;
  margin-bottom: 20px;
}

.highlight {
  color: #1d7874;
  font-weight: bold;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: var(--Brand-white);
  box-shadow: none;
  margin-top: -30px;
}

/* Input Groups */
.input-group {
  margin-bottom: 15px;
}

.input-label {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 5px;
  display: block;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  width: 130%;
  border-radius: var(--M, 16px);
  background: #e8e8e8;
  width: 361px;
  height: 57px;
  flex-shrink: 0;
}

.input-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.input-box {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  width: 130%;
  box-shadow: none;
}

/* Forgot Password */
.forgot-password {
  font-size: 14px;
  color: #1d7874;
  text-align: right;
  cursor: pointer;
  margin: 0 0 20px;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #1d7874;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  width: 361px;
  height: 55px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

/* Social Login */
.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.apple-login {
  background-color: #000;
  color: #fff;
  width: 361px;
  height: 55px;
  flex-shrink: 0;
}

.google-login {
  background-color: #fff;
  color: #6b6b6b;
  border: 1px solid #e0e0e0;
  width: 361px;
  height: 55px;
  flex-shrink: 0;
}

.social-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

/* Register Link */
.register-link {
  text-align: center;
  color: #6b6b6b;
  font-size: 14px;
}

.register-link-text {
  color: #1d7874;
  font-weight: bold;
  text-decoration: none;
}

/* Error Message */
.error-message {
  text-align: center;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
