.barcelona-page {
    padding: 16px;
    font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .back-button {
    font-size: 12px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  .main-image img {
    width: 100%;
    border-radius: 12px;
  }
  
  .location-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .location-info h1 {
    font-size: 24px; /* Adjust the size as needed */
    font-weight: bold; /* Make it bold */
    color: #2b2b2b; /* Dark color for better readability */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add spacing around it */
  }

  .rating {
    color: var(--brand-blue);
  }
  
  .recommended-places,
  .local-guides,
  .general-info,
  .recent-posts {
    margin-top: 20px;
  }
  
  .places-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .place {
    padding: 6px 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
  }
  
  .guides-list {
    display: flex;
    gap: 22px;
  }
  
  .guide img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .posts-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 16px; /* Space between grid items */
  }
  
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  .post img {
    width: 100%;
    border-radius: 10px;
  }
  
  .show-more {
    background-color: var(--brand-blue);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-top: 10px;
  }
  